[package]
  name = "dimensioned"
  version = "0.5.0"
  authors = ["Paho Lurie-Gregg <paho@paholg.com>"]
  description = "Compile-time type checking of arbitrary unit systems."
  homepage = "http://paholg.com/project/dimensioned"
  documentation = "http://paholg.com/dimensioned"
  repository = "https://github.com/paholg/dimensioned"
  readme = "README.md"
  license = "MIT/Apache-2.0"

[lib]
  name = "dimensioned"

[features]
  no_std = []

[dependencies]
  typenum = "1.3.2"
